//out: join.css, compress: true

* {
  margin: 0 auto;
  padding: 0;
}

#wrap {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.head {
  height: 88px;
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
}

.head p {
  font-size: 15px;
  text-align: center;
  margin: 0;
  margin-top: 5px;

}

.head #head_title {
    font-size: 32px;
    color: white;
    margin-top: 3px;
    margin-bottom: 5px;
}
#frm {
  width: 1000px;
}
.contents .cnt_box01 .con_comm1 {
  margin-top: 35px;
  font-size: 12px;
}

.cnt_box01 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}
.contents .cnt_box01 h2 {
  font-size: 15px;
  color: #ff2727;
}

.textarea01 {
  width: 95%;
  height: 145px;
}

.cnt_title1 {
  border-bottom: 2px solid #ef3f3f;
}

.cnt_title1 p {
  font-size: 20px;
  display: inline;
}
.cnt_title1 span {
  color: red;
  margin-left: 10px;
}

.cnt_box02 table {
  margin 0;
  width: 100%;
}

th {
  height: 35px;
  background: #eeeeee;
  border-bottom: 1px solid #c6c6c6;
  letter-spacing: -1px;
}

td {
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #c6c6c6;
}

.cnt_box02 th span {
  color: red;
}
.input_txt {
  height: 27px;
  width: 60%;
}

.input_txt2 {
  width: 28%;
  height: 31px;
}

.btn_wrap {
  margin-top: 35px;
  text-align: center;
}

.footer {
  width: 1000px;
  text-align: center;
  margin-top: 20px;
}
