//out: nick_check.css, compress: true

* {
  margin: 0 auto;
  padding: 0;
}

table {
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
}

table #id_header {
  background-color: red;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.nick_body {
  text-align: center;
}

.nick_footer {
  text-align: center;
}
.nick_check {
  background: #EEEEEE;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nick_check span {
  color: red;
}

.nick_check span p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#check {
  vertical-align: middle;
}
