//out: style.css, compress: true

* {
  margin: 0 auto;
  padding: 0;
}

#wrap {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.header {
  width: 1080px;
  height: 150px;
  display: flex;
  flex-flow: row wrap;
}

#guide {
  order: 1;
  width: 100%;
  height: 20px;
  display: flex;
  flex-flow: row wrap;
}
 .leftlink {
  order: 1;
  margin: 0;
  text-align: left;
}

.header .rightlink {
  order: 2;
  margin-right: 0;
  text-align: right;
}

.header .rightlink .item a {
    color: black;
}
#logo {
  order: 2;
  width: 191px;
  height: 111px;
  background: url(http://192.168.35.166:8080/resources/images/logo/logo.png) no-repeat 10px center;
}
#main_ad {
  order: 3;
  height: 90px;
}

#top_menu {
  width: 1080px
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  width: 1080px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  width: 1080px;
}

.main_content {
  text-align: center;
}
.main_content .cnt_main  {
  width: 690px;
}
.main_content .cnt_main .inp_wrap .enter a {
  color: #eee;
}
.main_content .cnt_main .inp_wrap .enter {
  float: left;
  width: 20%;
  height: 55px;
  background: #ff9f00;
  text-align: center;
  line-height: 56px;
}

.main_content .cnt_main .inp_wrap .inp_area {
  width: 380px;
  height: 55px;
  float: left;
}
.main_content .cnt_main .inp_wrap .inp_area p span {
  float: left;
  border: 1px solid #c6c6c6;
  background: #eee;
  width: 34%
}

.main_content .cnt_main .inp_wrap .inp_area p input {
  width: 63%;
}
.main_content .cnt_main .inp_wrap {
  margin: 50px 100px;
  overflow: hidden;
}
.main_content .cnt_main .cnt_Title {
  background: url(http://192.168.35.166:8080/resources/images/join/info_modi_title.jpg) no-repeat;
  width: 690px;
  height: 62px;
}
.main_content .noticebody {
  margin-left: 20px;
}

.main_content .noticebody .board_view table {
  text-align: center;
}
.main_content .noticebody .board_view .writer_viewTh {
  background: #8a8786;
  color: #fff
}
.main_content .noticebody .board_view .board_content_view {
  text-align: left;
}
.main_content .noticebody .board_view .board_content_view h1 {
  color: #b80000;
}
.main_content .noticebody .board_view table img {
  width: 20px;
  vertical-align: middle;
}

.main_content .noticebody table {
  width: 687px;
  text-align: center;
}
.main_content .noticebody table .recw_common {
  width: 100px;
  background: #f8e8db;
}
.main_content .noticebody table .colw_subject {
  padding-left: 10px;
  text-align: left;
}
.main_content .noticebody table .colw_subject input{
  width: 600px;
}

.main_content .noticebody .noticeSubTitle {
  background: url(http://192.168.35.166:8080/resources/images/board/title_bar.jpg) no-repeat;
  width: 689px;
  height: 35px;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 15px;
}
.main_content .noticebody h2 {
  font-size: 14px;
  color: #fed700;
  text-align: left;
}

.main_content .ui.green.table {
  text-align: center;
  margin-left: 13px;
  width: 685px;
}
.main_content .ui.green.table .title_size{
  width:387px;
}
#btns_list {
  text-align: right;
  order: 2;
  margin-right: 15px;
}
.paging {
  display: flex;
  flex-flow: row wrap;
}
.paging.left {
  margin: 0;
  text-align: left;
  order: 1;
  margin-left: 13px;
}
.paginate_button {
  display: inline;
}
.paginate_button.active a {
  padding: 8px 12px;
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}
.paginate_button a {
  padding: 8px 12px;
  border: 1px solid #dddfed;
  color: #4e73df;
  background-color: #fff;
}
.bottom_nav {
  text-align: center;
}
.content nav .ui.form .inline.field input {
	width: 112px;
	height: 31px;
	margin: 0;
	margin-bottom: 5px;
	padding: 10px;
}

.content nav .ui.form .inline.field #loginbtn {
	width: 55px;
	height: 55px;
	padding: 0;
	position: absolute;
	top: 5px;
	left: 120px;
	}

.content nav, aside{
	width: 175px;
	flex-shrink: 0;
}

.content nav .user_form  {
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  background: #4667a6;
  color: #d6f5ff;
}
.content nav .user_form strong{
  vertical-align: middle;
  padding-right: 10px;
}

.content nav .user_form .level img{
  width: 20px;
  vertical-align: middle;
}

.content nav .user_form .level span{
  vertical-align: middle;
}

.content .loginTool{
	margin-bottom: 10px;
	text-align: center;
}
.content .user_Tool {
  text-align: center;
  color: #d6f5ff;
}

.content .user_Tool a{
	color: #d6f5ff;
}
.content .loginTool a {
	color: black;
}
.content .side_banner {
	text-align: center;
}
.ui.inverted.menu {
	margin-top: 10px;
  margin-bottom: 10px;
}
.content .ui.vertical.menu {
	width: 175px;
	margin-top: 10px;
	width: 167px;
  text-align: center;
}
.content .ui.vertical.menu .nav_header {
	text-align: center;
}
.content .ui.vertical.menu {
	width: 175px;
	margin-top: 10px;
	width: 167px;
}
.content article .Main_Ad {
  position: relative;
	text-align: left;
	height: 402px;
  margin: 0;
}

.content article .Main_Ad img{
	position: absolute;
	width: 333px;
	left: 12px;
}

.content article .Main_side {
	position: absolute;
	left: 355px;
  width: 360px;
	height: 203px;
  margin: 0;
  text-align: center;
}

.content article .Main_side .screenImg {
	width: 322px;
	height: 97px;
}
.content article .Main_side .screenImg img {
	width: 150px;
	position: relative;
}

.content article .Main_side h3 {
	text-align: center;
}

.content article .bBest {
position: absolute;
left: 355px;
overflow: hidden;
width: 360px;
height: 172px;
top: 215px;
}

.content article .bBest h3 {
	text-align: center;
}

.content article .bg {
	background: url(http://192.168.35.166:8080/resources/images/info/bg2.gif) no-repeat 10px center;
	height: 216px;
	margin-bottom: 5px;
	padding-top: 47px;
	padding-left: 12px;
}

.content article .bg ul {
	float: left;
	width: 252px;
	height: 168px;
	margin: 0;
	padding: 0;
}
.content article .bg_side {
	float: left;
	width: 420px;
	height: 159px;
	padding-top: 7px;
}
.content article .bg_side ul {
	width: 420px;
	height: 152px;
}

.content article .bg .bg_side ul li {
	width: 420px;
	height: 19px;
}

.content article .bg ul li{
	width: 251px;
	height: 83px;
	list-style: none;
}

.content article .job_info {
	background: url(http://192.168.35.166:8080/resources/images/info/job_info.gif) no-repeat 10px center;
	width: 690px;
	height: 278px;
}

.content article .job_sub {
	padding-top: 10px;
	text-align: left;
	margin-left: 25px;
}

.content article .job_info .job_sub{
	text-align: left;
	margin-left: 25px;
	padding-top: 10px;
}
.content article .job_info .job_sub strong span {
	padding-right: 20px;
	font-size: 14px;
}
.content article .job_info .job_sub a {
	margin-right: 20px;
	color: black;
	font-size: 14px;
}

.content article .ui.black.table {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.content article .ui.black.table .over {
	background-color: gray;
	color: white;
}

.Ad_buttom {
	text-align: center;
}

.content article .skill_info{
	background: url(http://192.168.35.166:8080/resources/images/info/toolbar.png) no-repeat 10px center;
	width: 690px;
	height: 43px
}
.content article .skill_sub{
	padding-top: 10px;
	text-align: left;
	margin-left: 25px;
}
.content article .skill_img {
	margin-top: 20px;
  width: 690px;
  text-align: center;
}
.content article .skill_img .skill_error_page {
	margin-top: 100px;
  text-align: center;
}
.content article .skill_info .skill_sub strong span {
	padding-right: 20px;
	font-size: 14px;
}
.content article .skill_info .skill_sub a {
	margin-right: 20px;
	color: black;
	font-size: 14px;
}

#wrap .FloatLayout {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 400px;
  left: 300px;
}

#wrap .FloatLayout img {
  position: relative;
}

#wrap .FloatLayout .close {
  position: absolute;
  top: 10px;
  left: 550px;
}
